/* Footer Area css
============================================================================================ */
.footer_area{
	background: #ccc;	
	aside {
		font-size: 36px;
	}
}

.fa-linkedin {
	font-size: 36px;
}


/* End Footer Area css
============================================================================================ */